* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
#afui #leader {
  background: #fbf3be url('../img/leader.jpg') center center no-repeat;
}
.zhome:before {
  font-family: 'fontello';
  content: '\e804';
}
.icon-th-thumb-empty:before {
  content: '\e800';
  font-size: 19px !important;
  margin-top: 2px !important;
}
/* '' */
.icon-left-open:before {
  content: '\e801';
}
/* '' */
.icon-spin5:before {
  content: '\e802';
}
.icon-spin5 {
  font-family: "fontello" !important;
}
/* '' */
.icon-menu:before {
  content: '\e803';
}
/* '' */
.icon-home-outline:before {
  content: '\e804';
}
/* '' */
.icon-info-circled-alt:before {
  content: '\e805';
}
/* '' */
.panel {
  font-size: 14px !important;
}
.afScrollbar {
  width: 2px !important;
  background-color: rgba(0, 0, 0, 0.3) !important;
}
.com-tip {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 5px 20px;
  position: absolute;
  z-index: 10000;
  border-radius: 5px;
  bottom: 100px;
  box-sizing: border-box;
  left: 50%;
  box-shadow: 0 3px 3px #ccc;
  font-size: 14px;
}
#afui.ios7 header .button {
  display: inline-block;
  height: 44px;
  padding-top: 10px;
  margin: 0;
}
#afui.ios7 header .button:active {
  background-color: #227fce !important;
}
#afui.ios7 header .button:before {
  color: #fff;
}
#afui.ios7 header .user:before {
  top: 0;
  font-size: 1.3em;
}
#afui.ios7 header #backButton {
  left: 0;
  max-width: 70px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  min-width: 40px;
  padding-left: 25px !important;
  padding-right: 10px !important;
}
#afui.ios7 header #backButton:before {
  left: 10px;
  margin-left: 0;
}
#afui.ios7 .disabled {
  color: #ccc !important;
}
#afui.ios7 .input-error {
  border: 1px solid red;
}
#afui.ios7 .hide {
  display: none;
}
#afui.ios7 .bigbutton {
  width: 100%;
  margin: 0 auto;
  border-radius: 5px;
}
#afui.ios7 .nav-title {
  width: 100%;
  height: 35px;
  background-color: #eee;
  padding: 0 20px;
  margin: 0 -20px 0 -20px;
  box-sizing: content-box;
  line-height: 35px;
  font-size: 14px;
}
#afui.ios7 .nav-title a {
  color: #338edc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert {
  padding: px;
  margin-bottom: 10px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.clear-fix:after {
  clear: both;
  display: block;
  content: '';
}
