#afui.ios7 .panel .item-wrapper {
  padding-bottom: 5px;
}
#afui.ios7 .panel .item-wrapper .no-item {
  margin: 20px 0;
  color: #aaa;
  font-size: 12px;
  text-align: center;
}
#afui.ios7 .panel .item-wrapper .refresh-div {
  margin: 10px;
  text-align: center;
  font-size: 14px;
  color: #aaa;
}
#afui.ios7 .panel .item-wrapper a:active {
  background-color: #e3e3e3;
}
#afui.ios7 .panel .item-wrapper .item {
  margin: 10px 0;
  border: 1px solid #e3e3e3;
  border-radius: 10px;
}
#afui.ios7 .panel .item-wrapper .item .item-head {
  font-size: 16px;
  margin: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-indent: 10px;
  height: 34px;
  padding: 0;
  line-height: 34px;
  position: relative;
}
#afui.ios7 .panel .item-wrapper .item .item-head .item-lookup {
  position: absolute;
  right: 0;
  top: 0;
  border-top-right-radius: 10px;
  font-size: 14px;
  display: block;
  height: 34px;
  line-height: 34px;
  padding: 0 7px;
  text-indent: 0;
  color: #338edc;
  height: 100%;
}
#afui.ios7 .panel .item-wrapper .item .item-head .item-lookup span {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  display: inline-block;
  vertical-align: middle;
}
#afui.ios7 .panel .item-wrapper .item .item-body {
  border-top: 2px solid #e3e3e3;
  padding: 5px 0;
  text-align: center;
}
#afui.ios7 .panel .item-wrapper .item .item-body li {
  width: 33%;
  float: left;
  position: relative;
}
#afui.ios7 .panel .item-wrapper .item .item-body li a {
  display: block;
  width: 80%;
  margin: 0 auto;
  font-weight: bold;
}
#afui.ios7 .panel .item-wrapper .item .item-body li a .item-body-title {
  color: #888;
}
#afui.ios7 .panel .item-wrapper .item .item-body li a .item-body-value {
  color: #333;
  font-size: 16px;
}
#afui.ios7 .panel .item-wrapper .item .item-body li a .warn {
  color: #ea4b4c;
}
#afui.ios7 .panel .item-wrapper .item .item-body li .line {
  position: absolute;
  border-right: 1px solid #ddd;
  display: inline-block;
  height: 60%;
  right: 0;
  top: 15px;
}
